/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Tahoma';
  src: url("../fonts/Tahoma.svg#Tahoma") format("svg"), url("../fonts/Tahoma.ttf") format("truetype"), url("../fonts/Tahoma.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tahoma';
  src: url("../fonts/tahoma.eot");
  src: url("../fonts/tahoma.eot?#iefix") format("embedded-opentype"), url("../fonts/tahoma.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tahoma-Bold';
  src: url("../fonts/Tahoma-Bold.svg#Tahoma-Bold") format("svg"), url("../fonts/Tahoma-Bold.ttf") format("truetype"), url("../fonts/Tahoma-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tahomabd';
  src: url("../fonts/tahomabd.eot");
  src: url("../fonts/tahomabd.eot?#iefix") format("embedded-opentype"), url("../fonts/tahomabd.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dotum';
  src: url("../fonts/dotum.ttc");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'tahoma', sans-serif;
  color: #151515;
  font-size: 12px;
  max-width: 541px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.lh-17, .list > li:first-child > ul li:nth-child(-n + 2) {
  line-height: 17.93px;
}

.list > li {
  padding: 20px;
  border: 1px solid #c2c2c2;
  margin-top: 12px;
}

.list > li li {
  line-height: 14px;
}

.list > li li:not(:first-child) {
  margin-top: 6px;
}

.list > li li:first-child {
  font-family: 'tahomabd', sans-serif;
  font-weight: 700;
}

.list > li:nth-child(2) ul > li {
  background: url(../img/square.jpg) no-repeat top 6px left;
  padding-left: 10px;
}

.list > li:nth-child(3) ol > li {
  padding-left: 20px;
}

.list > li:nth-child(3) ol > li:first-child {
  background: url(../img/square1.jpg) no-repeat top left;
}

.list > li:nth-child(3) ol > li:nth-child(2) {
  background: url(../img/square2.jpg) no-repeat top left;
}

.list > li:nth-child(3) ol > li:nth-child(3) {
  background: url(../img/square3.jpg) no-repeat top left;
}

.list > li:nth-child(3) ol > li:nth-child(4) {
  background: url(../img/square4.jpg) no-repeat top left;
}

.list > li:nth-child(3) ol > li:nth-child(5) {
  background: url(../img/square5.jpg) no-repeat top left;
}

.list > li:nth-child(4) ul li > span:first-child {
  position: relative;
  background: url(../img/bg.png);
  color: #fff;
  font-size: 11px;
  font-family: 'dotum', sans-serif;
  display: block;
  height: 16px;
  float: left;
}

.list > li:nth-child(4) ul li > span:first-child:after, .list > li:nth-child(4) ul li > span:first-child:before {
  content: '';
  top: 0;
  display: block;
  height: 100%;
  background-size: cover;
  position: absolute;
}

.list > li:nth-child(4) ul li > span:first-child:after {
  background: url("../img/left.png") no-repeat top left;
  left: 0;
  width: 3px;
}

.list > li:nth-child(4) ul li > span:first-child:before {
  background: url("../img/right (3).png") no-repeat top right;
  right: 0;
  width: 4px;
}

.list > li:nth-child(4) ul li > span:first-child > span {
  color: #fff;
  font-size: 11px;
  padding: 2px 4px 0;
  font-family: 'dotum', sans-serif;
  display: inline-block;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */